<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Weird Template</title>
    <meta name="description" content="Weird template">
    <meta name="author" content="weirdloop">

    <!-- <link rel="shortcut icon" type="image/png" href="/favicon.png"/> -->
    <link href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAAA1BMVEUAnP9XjBdBAAAAC0lEQVQI12NgQAUAABAAAaHFIcEAAAAASUVORK5CYII="
          rel="icon" type="image/x-icon"/>

    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">

    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
</head>

<body>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Primary title
            </h1>
            <h2 class="subtitle">
                Primary subtitle
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">Section</h1>
        <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
        </h2>

        <!--<table class="table">
            <thead>
            <th>user</th>
            <th>usage</th>
            <th>date</th>
            </thead>
            {% for con in consumptions %}
            <tr>
                <td>{{ con.user }}</td>
                <td>{{ con.usage }}</td>
                <td>{{ con.created_at }}</td>
            </tr>
            {% endfor %}
        </table>

        {{ users }}
        <br>
        {{ usage }}
        -->

        <h1>Today</h1>

        <canvas id="myChart" width="400" height="400"></canvas>
        <script>
            var users = "{{ users | safe}}";
            console.log(typeof (users));
            console.log(users);
            users = users.replace(/'/g, '"');
            users = JSON.parse(users);
            console.log(users);

            var usage = "{{ usage | safe}}";
            console.log(typeof (usage));
            console.log(usage);
            usage = usage.replace(/'/g, '"');
            usage = JSON.parse(usage);
            console.log(usage);

            var colors = ['red', 'green', 'fuchsia', 'blue', 'magenta', 'yellow', 'gold', 'cyan', 'black', 'purple'];
            var size = usage.length;

            var randomIndex = Math.round(Math.random()*(colors.length-1));
            var bgc = [];
            var bc = [];
            for (let i=0; i< size; i++ ) {
                randomIndex = Math.round(Math.random()*(colors.length-1));
                bgc.push(colors[randomIndex]);
            }
            console.log(bgc);
            for (let i=0; i< size; i++ ) {
                randomIndex = Math.round(Math.random()*(colors.length-1));
                bc.push(colors[randomIndex]);
            }

            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: users,
                    datasets: [{
                        label: '# usage',
                        data: usage,
                        backgroundColor: bgc,
                        borderColor: bc,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>

        <h1>Week</h1>

        <canvas id="myChartWeek" width="400" height="400"></canvas>
        <script>
            var users = "{{ usersw | safe}}";
            console.log(typeof (users));
            console.log(users);
            users = users.replace(/'/g, '"');
            users = JSON.parse(users);
            console.log(users);

            var usage = "{{ usagew | safe}}";
            console.log(typeof (usage));
            console.log(usage);
            usage = usage.replace(/'/g, '"');
            usage = JSON.parse(usage);
            console.log(usage);

            var colors = ['red', 'green', 'fuchsia', 'blue', 'magenta', 'yellow', 'gold', 'cyan', 'black', 'purple'];
            var size = usage.length;

            var randomIndex = Math.round(Math.random()*(colors.length-1));
            var bgc = [];
            var bc = [];
            for (let i=0; i< size; i++ ) {
                randomIndex = Math.round(Math.random()*(colors.length-1));
                bgc.push(colors[randomIndex]);
            }
            console.log(bgc);
            for (let i=0; i< size; i++ ) {
                randomIndex = Math.round(Math.random()*(colors.length-1));
                bc.push(colors[randomIndex]);
            }

            var ctx = document.getElementById('myChartWeek').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: users,
                    datasets: [{
                        label: '# usage',
                        data: usage,
                        backgroundColor: bgc,
                        borderColor: bc,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>



        <h1>Month</h1>

        <canvas id="myChartMonth" width="400" height="400"></canvas>
        <script>
            var users = "{{ usersm | safe}}";
            console.log(typeof (users));
            console.log(users);
            users = users.replace(/'/g, '"');
            users = JSON.parse(users);
            console.log(users);

            var usage = "{{ usagem | safe}}";
            console.log(typeof (usage));
            console.log(usage);
            usage = usage.replace(/'/g, '"');
            usage = JSON.parse(usage);
            console.log(usage);

            var colors = ['red', 'green', 'fuchsia', 'blue', 'magenta', 'yellow', 'gold', 'cyan', 'black', 'purple'];
            var size = usage.length;

            var randomIndex = Math.round(Math.random()*(colors.length-1));
            var bgc = [];
            var bc = [];
            for (let i=0; i< size; i++ ) {
                randomIndex = Math.round(Math.random()*(colors.length-1));
                bgc.push(colors[randomIndex]);
            }
            console.log(bgc);
            for (let i=0; i< size; i++ ) {
                randomIndex = Math.round(Math.random()*(colors.length-1));
                bc.push(colors[randomIndex]);
            }

            var ctx = document.getElementById('myChartMonth').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: users,
                    datasets: [{
                        label: '# usage',
                        data: usage,
                        backgroundColor: bgc,
                        borderColor: bc,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>


    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Weird Stuff</strong> by <a href="https://www.weirdloop.com">Weirdloop</a>. Find me:
                <a class="icon" href="https://github.com/kmare">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>


</body>
</html>
