<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>Weird Template</title>
  <meta name="description" content="Weird template">
  <meta name="author" content="weirdloop">

  <!-- <link rel="shortcut icon" type="image/png" href="/favicon.png"/> -->
  <link href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAAA1BMVEUAnP9XjBdBAAAAC0lEQVQI12NgQAUAABAAAaHFIcEAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />

  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">

  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Hello user
           {{ user.rfid }}!
        </h1>
        <h2 class="subtitle">
          you have {{ user.credits }} credits!
        </h2>
        {% if user.credits > 5 %}
        <figure class="">
        <img src="/static/images/cert-green.png" alt="stamp">
        </figure>
        {% endif %}
        {% if user.credits > 1 and user.credits < 6 %}
        <figure class="">
        <img src="/static/images/cert-yellow.png" alt="stamp">
        </figure>
        {% endif %}
        {% if user.credits < 1 %}
        <figure class="">
        <img src="/static/images/cert-red.png" alt="stamp">
        </figure>
        {% endif %}
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">
         Did you know that ...
      </h1>
      <br>
      <h2 class="subtitle">
        {{ trivia.get }}
      </h2>

    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          The Flow, designed and developed by <a href="https://www.weirdloop.com">Really?! team</a>. Find us:
          <a class="icon" href="https://github.com/kmare">
            <i class="fab fa-github"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>

  <script src="js/script.js"></script>

</body>
</html>
