<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>Weird Template</title>
  <meta name="description" content="Weird template">
  <meta name="author" content="weirdloop">

  <!-- <link rel="shortcut icon" type="image/png" href="/favicon.png"/> -->
  <link href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAAA1BMVEUAnP9XjBdBAAAAC0lEQVQI12NgQAUAABAAAaHFIcEAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />

  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">

  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Trivia
        </h1>
        <h2 class="subtitle">
          Primary subtitle
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">Trivia</h1>
      <h2 class="subtitle">
        A simple showing all the available trivia!
      </h2>
      {% for tr in trivia.all %}
        <li>{{ tr.text }}</li>
      {% endfor %}
      <br>
      <p>
        <figure class="image is-2by1">
          <img src="images/snapshot.jpg" alt="random image here">
        </figure>
      </p>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Weird Stuff</strong> by <a href="https://www.weirdloop.com">Weirdloop</a>. Find me:
          <a class="icon" href="https://github.com/kmare">
            <i class="fab fa-github"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>

  <script src="js/script.js"></script>

</body>
</html>
