<!-- Title -->
    <div class="section-heading">
      <h3 class="title is-2">Team Really?!</h3>
      <h4 class="subtitle is-5">Who Are Team Really?!</h4>
      <div class="container">
        <p>The people behind this awesome product are (in no particular order): Yiannis Panteleakis, Mateusz Trójca, Stergios Mekras, and Farouk Taha. We are Team Really?!, four very creative IT Technology students who love building things... an Internet of Things, if we’re left to our own devices (pun intended). We decided to put our skills and free time (for a change) to good use, by answering a case presented by Grundfos at AUHack 2019. The Flow was that answer.</p>
          <br>
        <img src="static/images/theteam.jpg" alt="really?! now?">
      </div>
    </div>
