<div class="container">
      <div class="section-heading">
        <h3 class="title is-2">Contact</h3>
        <h4 class="subtitle is-5">Where?!</h4>
      </div>
      <div class="container">
        <p>You can reach Team Really?! during office hours (weekdays from 10:30am to 11:00am) <br>
          by calling one of those made up phone numbers:
        <br/>+45 12 13 14 15 
        <br/>+45 16 17 18 19 </p>
        <p>....or by writing us an e-mail to reallyquestionmark@exclamationmark.dk using the form below:</p>
      </div>

  <br><br>

      <div class="columns">
        <div class="column is-10 is-offset-1">
          <div class="box">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" placeholder="Text input">
              </div>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input class="input" type="email" placeholder="Email input" value="">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label">Message</label>
              <div class="control">
                <textarea class="textarea" placeholder="Textarea"></textarea>
              </div>
            </div>

            <div class="field is-grouped has-text-centered">
              <div class="control">
                <button class="button is-link is-large"><span class="icon">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span>Submit</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
