<div class="container">
      <div class="section-heading">
        <h3 class="title is-2">Dashboard</h3>
        <h4 class="subtitle is-5">Overview</h4>
      </div>
      <br>

      <div class="container portfolio-container content">


<h1>Today</h1>

        <canvas id="myChart" width="400" height="400"></canvas>
        <script>
            var users = "{{ users | safe}}";
            console.log(typeof (users));
            console.log(users);
            users = users.replace(/'/g, '"');
            users = JSON.parse(users);
            console.log(users);

            var usage = "{{ usage | safe}}";
            console.log(typeof (usage));
            console.log(usage);
            usage = usage.replace(/'/g, '"');
            usage = JSON.parse(usage);
            console.log(usage);

            var colors = ['red', 'green', 'fuchsia', 'blue', 'magenta', 'yellow', 'gold', 'cyan', 'black', 'purple'];
            var size = usage.length;

            var randomIndex = Math.round(Math.random()*(colors.length-1));
            var bgc = [];
            var bc = [];
            for (let i=0; i< size; i++ ) {
                randomIndex = Math.round(Math.random()*(colors.length-1));
                bgc.push(colors[randomIndex]);
            }
            console.log(bgc);
            for (let i=0; i< size; i++ ) {
                randomIndex = Math.round(Math.random()*(colors.length-1));
                bc.push(colors[randomIndex]);
            }

            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: users,
                    datasets: [{
                        label: '# usage',
                        data: usage,
                        backgroundColor: bgc,
                        borderColor: bc,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>

        <h1>Week</h1>

        <canvas id="myChartWeek" width="400" height="400"></canvas>
        <script>
            var users = "{{ usersw | safe}}";
            console.log(typeof (users));
            console.log(users);
            users = users.replace(/'/g, '"');
            users = JSON.parse(users);
            console.log(users);

            var usage = "{{ usagew | safe}}";
            console.log(typeof (usage));
            console.log(usage);
            usage = usage.replace(/'/g, '"');
            usage = JSON.parse(usage);
            console.log(usage);

            var colors = ['red', 'green', 'fuchsia', 'blue', 'magenta', 'yellow', 'gold', 'cyan', 'black', 'purple'];
            var size = usage.length;

            var randomIndex = Math.round(Math.random()*(colors.length-1));
            var bgc = [];
            var bc = [];
            for (let i=0; i< size; i++ ) {
                randomIndex = Math.round(Math.random()*(colors.length-1));
                bgc.push(colors[randomIndex]);
            }
            console.log(bgc);
            for (let i=0; i< size; i++ ) {
                randomIndex = Math.round(Math.random()*(colors.length-1));
                bc.push(colors[randomIndex]);
            }

            var ctx = document.getElementById('myChartWeek').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: users,
                    datasets: [{
                        label: '# usage',
                        data: usage,
                        backgroundColor: bgc,
                        borderColor: bc,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>



        <h1>Month</h1>

        <canvas id="myChartMonth" width="400" height="400"></canvas>
        <script>
            var users = "{{ usersm | safe}}";
            console.log(typeof (users));
            console.log(users);
            users = users.replace(/'/g, '"');
            users = JSON.parse(users);
            console.log(users);

            var usage = "{{ usagem | safe}}";
            console.log(typeof (usage));
            console.log(usage);
            usage = usage.replace(/'/g, '"');
            usage = JSON.parse(usage);
            console.log(usage);

            var colors = ['red', 'green', 'fuchsia', 'blue', 'magenta', 'yellow', 'gold', 'cyan', 'black', 'purple'];
            var size = usage.length;

            var randomIndex = Math.round(Math.random()*(colors.length-1));
            var bgc = [];
            var bc = [];
            for (let i=0; i< size; i++ ) {
                randomIndex = Math.round(Math.random()*(colors.length-1));
                bgc.push(colors[randomIndex]);
            }
            console.log(bgc);
            for (let i=0; i< size; i++ ) {
                randomIndex = Math.round(Math.random()*(colors.length-1));
                bc.push(colors[randomIndex]);
            }

            var ctx = document.getElementById('myChartMonth').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: users,
                    datasets: [{
                        label: '# usage',
                        data: usage,
                        backgroundColor: bgc,
                        borderColor: bc,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>

        <h1>Users</h1>

        <canvas id="myChartUsers" width="400" height="400"></canvas>
        <script>
            var users = "{{ rfid | safe}}";
            console.log(typeof (users));
            console.log(users);
            users = users.replace(/'/g, '"');
            users = JSON.parse(users);
            console.log(users);

            var usage = "{{ credits | safe}}";
            console.log(typeof (usage));
            console.log(usage);
            usage = usage.replace(/'/g, '"');
            usage = JSON.parse(usage);
            console.log(usage);

            var colors = ['red', 'green', 'fuchsia', 'blue', 'magenta', 'yellow', 'gold', 'cyan', 'black', 'purple'];
            var size = usage.length;

            var randomIndex = Math.round(Math.random()*(colors.length-1));
            var bgc = [];
            var bc = [];
            for (let i=0; i< size; i++ ) {
                randomIndex = Math.round(Math.random()*(colors.length-1));
                bgc.push(colors[randomIndex]);
            }
            console.log(bgc);
            for (let i=0; i< size; i++ ) {
                randomIndex = Math.round(Math.random()*(colors.length-1));
                bc.push(colors[randomIndex]);
            }

            var ctx = document.getElementById('myChartUsers').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: users,
                    datasets: [{
                        label: '# usage',
                        data: usage,
                        backgroundColor: bgc,
                        borderColor: bc,
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>

      </div>
    </div>
