<div class="section-heading">
    <h3 class="title is-2">It works!</h3>
    <h4 class="subtitle is-5">How?!</h4>
    <div class="container">
        <p>Using a combination of creative thinking, inexpensive electronics, and reliable Grundfos engineering,
            The Flow can show users precisely how much water they have used. This is achieved without the need
            for specialized equipment, using only affordable devices that work with a Grundfos pump to gather
            all the necessary information. The Flow relies on a simple web interface to provide an overview of
            water consumption at a glance.</p>
        <img src="static/images/itworks.jpg" alt="it works!">
    </div>
</div>
