    <div class="section-heading">
      <h3 class="title is-2">About the Flow</h3>
      <h4 class="subtitle is-5">Why?!</h4>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Our Purpose</h4>
    Everyone knows that saving water is necessary, something we should all be doing for the greater good, and our planet. Saving water is cool, it’s great even… and yet, most people don’t. Most of the time it is because people simply forget to do so, or daily life proves too hectic for what they often see as a luxury. Some people are not fully aware of the need, the effectiveness, or that it must be done daily. This is where The Flow comes in, addressing the problems in a creative manner.
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Our Goal</h4>
              The Flow aims to make saving water fun and interactive. To do so, we chose to follow a gamification approach, rewarding users and offering incentives to continue the wise use of the most precious resource on the planet. In a professional setting, this can mean something like free cinema tickets for employees that save the most during the last month. In a private setting, it could simply be the satisfaction of outperforming one’s loved ones, in a friendly game of “save the planet” – at no individual cost. 
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Our Future</h4>
              You didn’t think we’re done with the development of this platform, did you? If so, we are to prove you wrong! Here are some features we plan to implement in future versions of The Flow: 
<ul>
   <li>Moar sensors! Why more? Simple. Imagine having an insight on how the ambient temperature and humidity inside your apartment influences how long you spend in the shower – few can resist a longer hot shower during winter after all. The Flow would analyze the use of water and offer practical suggestions to help you waste less. </li>

    <li>Hey Alexa! How much water have I saved this week? By using voice assistants to make the data more accessible to the user, The Flow could become more interactive than ever. Showing off to your guests while enjoying your coffee would be just a question away.</li>
    </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
